@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode (default) */
body {
  background-color: #121212;
 color: white;
}

/* Dark Mode */
/* body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}


body.dark-mode .navbar {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode a {
  color: #ffffff;
}

body.dark-mode .navbar a:hover {
  color: #dddddd;
}


 body.dark-mode .anime:hover {
  border: none;
 }
 
 body.dark-mode .anime::after {
  background-color: white;
 } */

.gradient {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}

.anime {
  border: none;
  position: relative;
}

.anime:hover {
  border: none;
}

.anime::after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-color: white;
  transition: all ease-out 0.3s;
}

.anime:hover::after {
  width: 100%;
  left: 0%;
}
